.main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  flex-direction: column;
  width: 700px;
}

.rowitem {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: 40px;
  background: white;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
}

.close {
  position: relative;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.close:hover {
  opacity: 1;
}

.close:before,
.close:after {
  position: absolute;
  left: 10px;
  content: " ";
  height: 20px;
  width: 2px;
  background-color: #333;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.filter {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  align-items: center;
}

.inputtext {
  width: 95.5%;
  border: none;
  height: 40px;
  border-bottom: 1px solid #eee;
  padding-left: 30px;
  font-size: 15px;
}

.rowitem:hover {
  border-bottom: 1px solid #eee;
}

.inputtext:focus {
  outline: none;
}

.form {
  width: 100%;
}

.header {
  font-size: 30px;
  font-weight: 200;
  border-bottom: 1px solid;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.radio-group {
  flex-direction: row;
  display: flex;
}

.radio-toolbar {
  flex-direction: row;
  display: flex;
}

.radio-toolbar div {
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}

.radio-toolbar div input[type="radio"] {
  opacity: 0;
  position: fixed;
  opacity: 0;
  position: absolute;
  height: 40px;
  width: 100%;
}

.radio-toolbar div label {
  display: inline-block;
  padding: 10px 20px;
  font-family: sans-serif, Arial;
  font-size: 16px;
  border: 1px solid #e3e8f0;
  border-radius: 4px;
}

.radio-toolbar div input[type="radio"]:focus + label {
  border: 1px solid #444;
}

.radio-toolbar div input[type="radio"]:checked + label {
  /* background-color: #bfb; */
  border-color: #777;
}

.clearbtn {
  padding: 10px 20px;
  font-family: sans-serif, Arial;
  font-size: 16px;
  cursor: pointer;
}

.firstitem {
  flex-direction: row;
  display: flex;
  align-items: center;
}

.name {
  font-size: 16px;
  font-weight: 100;
}

.round {
  position: relative;
  margin: 10px 20px 10px 20px;
}

.round label {
  background-color: #cadde682;
  /* border: 1px solid #cadde682; */
  border-radius: 50%;
  cursor: pointer;
  height: 27px;
  left: 0;
  position: absolute;
  top: 0;
  width: 27px;
}

.round label:after {
  border: 2px solid #2196f3;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #cadde682;
  border-color: #cadde682;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
